<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>name</key>
			<string>店铺管理</string>
			<key>image</key>
			<string>icon_dpgl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>线下付款</string>
			<key>image</key>
			<string>icon_xxfk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>线下退款</string>
			<key>image</key>
			<string>icon_xxtk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>商铺评价</string>
			<key>image</key>
			<string>icon_dppj</string>
		</dict>
		<dict>
			<key>name</key>
			<string>收入统计</string>
			<key>image</key>
			<string>icon_srtj</string>
		</dict>
		<dict>
			<key>name</key>
			<string>本金提现</string>
			<key>image</key>
			<string>icon_bjtx</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>线上订单</string>
			<key>image</key>
			<string>icon_xsdd</string>
		</dict>
		<dict>
			<key>name</key>
			<string>线上退款</string>
			<key>image</key>
			<string>icon_xxtk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>商城评价</string>
			<key>image</key>
			<string>icon_dppj</string>
		</dict>
		<dict>
			<key>name</key>
			<string>统计收入</string>
			<key>image</key>
			<string>icon_srtj</string>
		</dict>
		<dict>
			<key>name</key>
			<string>本金提现</string>
			<key>image</key>
			<string>icon_bjtx</string>
		</dict>
		<dict>
			<key>name</key>
			<string>退货地址</string>
			<key>image</key>
			<string>icon_thdz</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>子账号管理</string>
			<key>image</key>
			<string>icon_zzhgl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>客服</string>
			<key>image</key>
			<string>icon_kf</string>
		</dict>
	</array>
</array>
</plist>
